<h1>{{ title }}</h1>

<script  type="text/javascript" src="/js/AdminDashboard.js"> </script>

<table class="table table-striped">
    <tr>
        <th>Username</th>
        <th>Firstname</th>
        <th>Lastname</th>
        <th>Usertype</th>
        <th>Password</th>
        <th>Actions</th>
    </tr>
    {{#each users }}
        <tr>
            <td><a href="profile/{{this.username}}">{{this.username}}</a> </td>
            <td>{{ this.fname }}    </td>
            <td>{{ this.lname }}    </td>
            <td>{{ this.usertype }} </td>
            <td>{{ this.passwd }}   </td>

            <td>
                <div class="btn-group">
                    <button class="btn btn-default btn-xs dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        actions <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <li><a href="/User/settings/{{this.username}}">Change Settings</a></li>
                        <li><a href="profile/{{this.username}}">View Documents</a></li>
                        <li role="separator" class="divider"></li>
                        {{#if this.isAdmin }}
                            <li><a href="#" onclick="setUserType('{{this.username}}','student')">Demote to Student</a></li>
                        {{else}}
                            <li><a href="#" onclick="setUserType('{{this.username}}','admin')">Promote to Admin</a></li>
                        {{/if}}
                        <li><a href="#" onclick="deleteUser('{{this.username}}')">Delete User</a></li>
                    </ul>
                </div>
            </td>
        </tr>
    {{/each}}
</table>