<style>
    .head1,.head2,.head3{
        text-align:center;
        border-bottom:1px solid #d2d7da;
        font-size:20px;
        padding-bottom:9px;
        padding-top:9px;
        margin-top:10px;
        background-color:#616161;
        color:#FFFFFF;
    }

    .col1,.col2,.col3{
        background-color:#F1F1F1;
        height:600px;
        overflow-y:scroll;
    }

    .col2 p,.col3 p{
        margin:10px;
    }

    .col1 p{
        margin-top:10px;
        margin-bottom:20px;
        margin-left:5px;
    }

    .col1 p a{
        text-decoration:none;
        font-family:helvetica;
        font-weight: bold;
    }

    .highlight{
        background-color:yellow;
    }

    .perc{
        color: red;
    }
</style>
<script  type="text/javascript" src="/js/resultspage.js"> </script>
<script type="text/javascript">

    window.onload = function(){
        var innerHTMLSuspect="";
        var innerHTMLSource="";
        var prevIndex=0;
        var prevIndexforSource=0;
        {{#if identicalWords }}
            {{#each identicalWords}}
                innerHTMLSuspect += getSuspectText(prevIndex,{{this.SuWS}})+"<span class='highlight'> "+getSuspectText({{this.SuWS}},{{this.SuWE}})+"</span>";
                innerHTMLSource += getSourceText(prevIndexforSource,{{this.SoWS}})+"<span class='highlight'> "+getSourceText({{this.SoWS}},{{this.SoWE}})+"</span>";
                prevIndex={{this.SuWE}};
                prevIndexforSource= {{this.SoWE}}
            {{/each}}
                innerHTMLSuspect += getSuspectText(prevIndex,sizeOfSource(`{{rawText}}`),`{{rawText}}`);
                innerHTMLSource += getSourceText(prevIndex,sizeOfSource(`{{sourceText}}`),`{{sourceText}}`);
                console.log("valueof innerHTMLSource"+innerHTMLSuspect);
        {{/if}}
        document.getElementById("suspectText").innerHTML=innerHTMLSuspect;
        document.getElementById("sourceText").innerHTML=innerHTMLSource;
        console.log("valueof innerHTMLSource"+innerHTMLSuspect);
    }

    function getSuspectText(start,end){
        givenText=`{{rawText}}`;
        rawText= givenText.split(/\s+/);
        console.log("getText has Received::" + rawText);
        var textToReturn="";
        for(var i=start;i<end;i++){
            textToReturn+=rawText[i]+" ";
        }
        console.log('getText Returns:'+textToReturn);
        console.log('array length is '+ rawText.length);
        return textToReturn;
    }
    
    function getSourceText(start,end){
        givenText=`{{sourceText}}`;
        rawText= givenText.split(/\s+/);
        console.log("getText has Received::" + rawText);
        var textToReturn="";
        for(var i=start;i<end;i++){
            textToReturn+=rawText[i]+" ";
        }
        return textToReturn;
    }
    
    function sizeOfSource(inpText){
        var nText= inpText.split(/\s+/);
        return nText.length;
    }



</script>
<h1> {{ title }} : Score &nbsp;&nbsp; <span class="perc">{{ getScore responseArray }} % </span></h1> 
<div class="myContainer">
    <div class="head1 col-sm-2 col-xs-2" >
    Links
    </div>
    <div class="head2 col-sm-5 col-xs-5">
    Possible copy from 
    </div>
    <div class="head3 col-sm-5 col-xs-5">
    Uploaded document
    </div>
    <div class="col1 col-sm-2 col-xs-2" >
    {{#if responseArray }}
        {{#each responseArray }}
                <p><a href="/documents/showIndividualComparison/{{encodeU this.ComparisonReport}}&{{encodeU this.CachedVersion}}&{{jsonStringify ../mArray}}&{{encodeU ../sourceText}}">{{this.Title}}</a></p>
        {{/each}}
    {{/if}}
    </div>
    <div class="col2 col-sm-5 col-xs-5">
        <p id="suspectText">{{ rawText }}</p>
    </div>
    <div class="col3 col-sm-5 col-xs-5" id="source">
        <p id="sourceText">{{sourceText}}</p>
    </div>
</div>