{{#if userInfo }}
    <h1>{{ userInfo.fname }} {{ userInfo.lname }}'s {{ title }}</h1>
{{else}}
    <h1>{{ fname }} {{ lname }}'s {{ title }}</h1>
{{/if}}



<h2>Change Fullname</h2>
<form id="name-form" action="/User/SetFullName/{{actionOnUser}}" method="post" role="form">
    <div class="form-group">
        <input type="text" name="fname" id="fname" class="form-control" placeholder="First name"
               value="{{#if userInfo}}{{userInfo.fname}}{{else}}{{fname}}{{/if}}">
    </div>
    <div class="form-group">
        <input type="text" name="lname" id="lname" class="form-control" placeholder="Last name"
               value="{{#if userInfo}}{{userInfo.lname}}{{else}}{{lname}}{{/if}}">
    </div>
    <div class="form-group">
        <div class="row">
            <div class="col-sm-3 pull-right">
                <input type="submit" name="name-submit" class="form-control btn btn-register" value="Save">
            </div>
        </div>
    </div>
</form>

<br/>

<h2>Change Password</h2>
<form id="passwd-form" action="/User/SetPassword/{{actionOnUser}}" method="post" role="form">
    <div class="form-group">
        <input type="password" name="new-password" class="form-control" placeholder="New Password">
    </div>
    <div class="form-group">
        <input type="password" name="confirm-new-password" class="form-control" placeholder="Confirm New Password">
    </div>
    <div class="form-group">
        <div class="row">
            <div class="col-sm-3 pull-right">
                <input type="submit" name="login-submit" id="login-submit" class="form-control btn btn-login" value="Save">
            </div>
        </div>
    </div>
</form>